@font-face {
  font-family: "EspumaPro-Bold";
  src: url("../webfonts/EspumaPro-Bold/EspumaPro-Bold.ttf") format("truetype");
}
:root {
  --logo-color: hsl(162, 70%, 37%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-semi-transparent-white: rgba(255, 255, 255, 0.7);
  --clr-yellow-google-review: rgb(255, 217, 0);
  --clr-yellow-light: rgb(200, 230, 117);
  --clr-black: hsl(0, 0%, 0%);
  --clr-1: hsla(182, 82%, 38%, 1);
  --clr-dark-grey-1: #3b3d3d;
  --clr-purple: hsla(275, 23%, 28%, 1);
  --clr-orange: rgb(255, 107, 0);
  --clr-dark-green: hsla(182, 82%, 18%, 1);
  --clr-lighter-green: rgb(17, 171, 176);
  --clr-logo-green: hsl(162, 70%, 37%);
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--clr-white);
  color: var(--clr-white);
}

form input {
  color: var(--clr-black);
  font-size: 1.6rem !important;
}

form input:focus {
  border-color: lightgrey !important;
  box-shadow: 0 0 0 0.25rem lightgray !important;
}

form textarea:focus {
  border-color: lightgrey !important;
  box-shadow: 0 0 0 0.25rem lightgrey !important;
}

.xl-text {
  font-size: 65px;
}

.header {
  background-image: url("../images/hero_background.jpg");
  background-size: cover;
  height: 600px;
  position: relative;
}

.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 6.4rem;
  text-align: center;
}

.header-intrusion {
  color: var(--clr-1);
}

.header-paragraph {
  max-width: 600px;
  font-size: 1.6rem;
  text-align: center;
}

.text-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.header .text-container {
  z-index: 10;
}

.vertical-decoration {
  top: 12%;
  width: 24px;
}

.hr-heading {
  display: inline-block;
  width: 3.5rem;
  height: 0.125rem;
  margin-top: 0.625rem;
  border: none;
  background-color: var(--bs-primary);
  opacity: 1;
}

.navbar {
  transition: all 0.5s ease-in-out;
}

.navbar-brand-custom {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.container-navigation {
  height: 100%;
}

.navbar-ediontrans {
  background-color: var(--clr-white);
  font-size: 1.6rem;
  padding: 0;
}

.photo-gallery {
  background-color: var(--clr-white);
}

.photo-gallery-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}

.photo-gallery-paragraph {
  font-size: 1.6rem;
  padding-left: 2rem;
  color: var(--clr-black);
  text-align: justify;
}

.photo-gallery-badge {
  color: var(--clr-1);
}

.photo-gallery-titles h2 {
  color: var(--clr-black);
  font-size: 2.5rem;
  text-transform: uppercase;
  text-wrap: nowrap;
}

.row-custom {
  text-align: center;
  display: flex;
  justify-content: center;
}

.img-custom {
  width: 100%;
}

.col-custom {
  max-width: 300px;
}

.testimonials {
  background-color: var(--clr-1);
  padding: 12rem 0;
}

.testimonials-title {
  font-size: 3rem;
  padding: 0;
  margin: 0;
}

.testimonials-paragraph {
  font-size: 1.6rem;
}

.testimonial-single {
  display: flex;
  gap: 1rem;
}

.testimonial-quote {
  font-size: 3.6rem;
  line-height: 1.3;
}

.user-info {
  line-height: 1.2;
}

.user-info-user {
  color: var(--clr-semi-transparent-white);
  font-size: 1.7rem;
  color: var(--clr-);
}

.user-info-name {
  display: flex;
  font-size: 1.7rem;
  text-wrap: nowrap;
  font-weight: 600;
}

.google-review {
  text-wrap: nowrap;
}

.google-review-review {
  text-wrap: nowrap;
  font-size: 1.7rem;
  color: var(--clr-white);
}

.testimonials-container {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.star-custom {
  font-size: 1.7rem;
  color: var(--clr-yellow-google-review);
}

.testimonials-action-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.show-more-reviews-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: none;
  background-color: var(--clr-dark-grey-1);
  color: var(--clr-white);
  font-size: 1.8rem;
  padding: 1rem 3rem;
  border-radius: 1rem;
}

.write-review-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.8rem;
  padding: 1rem 3rem;
  border-radius: 1rem;
  text-decoration: none;
  color: rgb(50, 50, 50);
  background-color: var(--clr-yellow-light);
  text-align: center;
}

.write-review-button:hover {
  color: rgb(50, 50, 50);
}

.call-to-action {
  background-color: var(--clr-purple);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12rem 0;
}

.call-to-action-title {
  font-size: 3.8rem;
}

.call-to-action-paragraph {
  font-size: 2.6rem;
}

.call-to-action-button {
  background-color: var(--clr-orange);
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1.6rem;
  color: var(--clr-white);
}

.custom-modal {
  color: var(--clr-black);
}

.back-button {
  cursor: pointer;
}

.form-control {
  background-color: var(--clr-white);
}

.form-control:focus {
  background-color: var(--clr-white);
}

form select {
  color: #000 !important;
}

.contact-us-section {
  background-color: var(--clr-dark-green);
  padding: 19rem 0;
}

.contact-address {
  text-decoration: none;
  color: var(--clr-white);
  font-size: 1.8rem;
  transition: all 0.3s ease;
}

.contact-address:hover {
  color: white;
}

.phone-link:hover {
  color: white;
}

.address-title {
  color: var(--clr-black);
}

.call-title {
  color: var(--clr-black);
}

.phone-links-container {
  display: flex;
  flex-direction: column;
}

.phone-link {
  text-decoration: none;
  color: var(--clr-white);
  font-size: 1.8rem;
}

.contact-us-title {
  font-size: 3rem;
}

.contact-us-subtitle {
  font-size: 1.6rem;
  color: var(--clr-lighter-green);
}

.contact-us-text {
  font-size: 3.2rem;
}

.section-content {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-content-addresses-calls {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.address-title,
.call-title {
  font-size: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.call-title-text {
  color: var(--clr-white);
}

.address-title-text {
  color: var(--clr-white);
}

.address-title-icon,
.call-title-icon {
  color: var(--clr-white);
}

.fill-form-btn {
  font-size: 1.6rem;
  max-width: 40%;
}

.fill-form-btn:hover {
  background-color: var(--clr-white);
  color: var(--clr-black);
  border-color: var(--clr-white);
}

.section-content-text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.modal {
  color: var(--clr-black);
}

.btn-close-modal {
  font-size: 1.5rem;
}

.ask-question-form {
  padding: 2rem 5rem;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-actions {
  display: flex;
  gap: 1rem;
}

.btn-submit-custom {
  flex: 1;
  font-size: 1.6rem;
}

.btn-cancel-custom {
  flex: 1;
  font-size: 1.6rem;
}

.footer-logo-img {
  max-width: 40px;
}

.footer-logo-text {
  font-family: "EspumaPro-Bold";
}

.footer-contact-phone-numbers {
  display: flex;
  flex-direction: column;
}

.footer-phone-link {
  text-decoration: none;
  color: var(--clr-white);
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-phone-link:hover {
  text-decoration: none;
  color: var(--clr-logo-green);
}

.footer-contact-email-link {
  text-decoration: none;
}

.footer-contact-email-link:hover {
  color: var(--clr-orange);
}

.footer-contact-title {
  font-weight: 600;
  font-size: 2.6rem;
}

.footer-logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-contact-phone-numbers-title {
  color: var(--clr-logo-green);
  font-weight: bold;
}

.useful-links {
  font-weight: 600;
  font-size: 2.6rem;
}

.useful-links-container {
  display: flex;
  flex-direction: column;
}

.useful-link-inner {
  text-decoration: none;
  color: var(--clr-white);
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.useful-link-inner:hover {
  color: var(--clr-logo-green);
}

.phone-numbers-container {
  display: flex;
  flex-direction: column;
}

.footer-logo-text {
  font-size: 3rem;
  color: var(--clr-logo-green);
}

.footer-contact-email-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--clr-logo-green);
}

.footer-contact-email-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.8rem;
  color: var(--clr-white);
}

.footer-contact-email-link:hover {
  color: var(--clr-logo-green);
}

.footer-contact-socials-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--clr-logo-green);
}

.footer-contact-socials-facebook {
  text-decoration: none;
  color: var(--clr-white);
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-contact-socials-facebook:hover {
  color: var(--clr-logo-green);
}

.footer-contact-socials-instagram {
  text-decoration: none;
  color: var(--clr-white);
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-contact-socials-instagram:hover {
  color: var(--clr-logo-green);
}

.write-review-title {
  font-size: 2.6rem;
  font-weight: 600;
}

.footer-write-review-button {
  font-size: 1.8rem;
  padding: 0.5rem 1.5rem;
  text-wrap: nowrap;
  background-color: var(--clr-yellow-light);
  border-radius: 1rem;
}

.list-container,
.navbar-list {
  height: 100%;
}

.nav-item-custom {
  height: 100%;
}

.navigation-link {
  height: 100%;
  color: var(--clr-black);
  display: flex;
  align-items: center;
}

.navigation-link:hover {
  background-color: var(--clr-1);
  color: var(--clr-white);
}

.navbar-sticky {
  opacity: 0.8;
}

.img-logo {
  max-width: 50px;
}

.logo-text {
  color: var(--logo-color);
  font-size: 3rem;
  font-family: "EspumaPro-Bold";
}

.details .vertical-decoration {
  top: 0;
  left: 0;
  width: 24px;
}

.details-2 .vertical-decoration {
  top: 5%;
  right: 0;
  width: 24px;
}

.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 32px;
  height: 44px;
  border-radius: 50%;
  display: block;
  box-sizing: content-box;
  padding: 1.125rem 1.25rem 1.125rem 1.75rem;
  cursor: pointer;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 76px;
  height: 76px;
  border-radius: 50%;
  display: block;
  background: var(--bs-primary);
  cursor: pointer;
  animation: pulse-border 1500ms ease-in-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: block;
  background: var(--bs-primary);
  cursor: pointer;
  transition: all 200ms;
}

.video-play-button span {
  position: relative;
  display: block;
  z-index: 3;
  top: 6px;
  left: 4px;
  width: 0;
  height: 0;
  border-left: 26px solid #fff;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
.video-modal .modal-dialog {
  max-width: 1150px;
  margin-top: 20px;
}

.project-modals .modal-dialog {
  max-width: 1150px;
  margin-top: 130px;
}

@media (max-width: 576px) {
  .header-title {
    font-size: 3rem;
  }
  .header-paragraph {
    max-width: 300px;
    font-size: 1.8rem;
    text-align: center;
  }
  .photo-gallery-titles {
    text-align: center;
  }
  .photo-gallery-paragraph {
    padding: 0 2rem;
    font-size: 2rem;
  }
  .photo-gallery-titles h2 {
    font-size: 3.2rem;
    text-transform: uppercase;
  }
  .photo-gallery-titles h5 {
    font-size: 1.8rem;
  }
  .testimonials {
    padding: 5rem 0;
  }
  .testimonials-container {
    padding-bottom: 2rem;
  }
  .testimonials-title {
    text-align: center;
  }
  .testimonials-paragraph {
    text-align: center;
  }
  .testimonial-quote {
    font-size: 2.2rem;
  }
  .testimonial-picture-inner {
    width: 5rem;
  }
  .testimonials-action-buttons {
    flex-direction: column;
  }
  .show-more-reviews-button {
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    width: 100%;
  }
  .write-review-button {
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    width: 100%;
  }
  .testimonials-action-buttons {
    display: flex;
    align-items: center;
  }
  .call-to-action {
    padding: 6rem 0;
    gap: 1rem;
  }
  .call-to-action-title {
    text-align: center;
    font-size: 3.4rem;
  }
  .call-to-action-paragraph {
    text-align: center;
    font-size: 2rem;
  }
  .contact-us-section {
    padding: 7.5rem 0;
  }
  .contact-us-text {
    font-size: 2.2rem;
  }
  .section-content {
    padding: 1rem 0;
    gap: 2rem;
  }
  .fill-form-btn {
    max-width: 100%;
  }
  .section-content-addresses-calls {
    padding: 2rem 3rem;
  }
  .contact-address {
    font-size: 1.6rem;
  }
  .phone-link {
    font-size: 1.6rem;
  }
  .footer {
    padding-top: 2.5rem !important;
    padding-bottom: 4rem !important;
  }
  .footer-contact-title {
    display: flex;
    justify-content: center;
  }
  .footer-logo-container {
    display: flex;
    justify-content: center;
  }
  .footer-contact-phone-numbers {
    align-items: center;
  }
  .footer-contact-email {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-contact-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .google-review-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .useful-links-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .header-title {
    font-size: 3.5rem;
  }
  .header-paragraph {
    max-width: 400px;
    font-size: 2rem;
    text-align: center;
  }
  .photo-gallery-titles {
    text-align: center;
  }
  .photo-gallery-paragraph {
    padding: 0 2rem;
    font-size: 2.2rem;
  }
  .photo-gallery-titles h2 {
    font-size: 3.4rem;
    text-transform: uppercase;
  }
  .photo-gallery-titles h5 {
    font-size: 2rem;
  }
  .testimonials {
    padding: 5rem 0;
  }
  .testimonials-container {
    padding-bottom: 2rem;
    margin-top: 1rem;
    padding-top: 0;
  }
  .testimonials-title {
    text-align: center;
  }
  .testimonials-paragraph {
    text-align: center;
  }
  .testimonial-quote {
    font-size: 2.2rem;
  }
  .testimonial-picture-inner {
    width: 5rem;
  }
  .testimonials-action-buttons {
    flex-direction: row;
  }
  .show-more-reviews-button {
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    width: 70%;
    flex: 1;
  }
  .write-review-button {
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    width: 70%;
    flex: 1;
  }
  .testimonials-action-buttons {
    display: flex;
    align-items: center;
  }
  .call-to-action {
    padding: 6rem 0;
    gap: 1.2rem;
  }
  .call-to-action-title {
    text-align: center;
    font-size: 3.2rem;
  }
  .call-to-action-paragraph {
    text-align: center;
    font-size: 2rem;
  }
  .contact-us-section {
    padding: 7rem 0;
  }
  .contact-us-text {
    font-size: 2.2rem;
    text-align: left !important;
  }
  .section-content {
    padding: 1rem 0;
    gap: 2rem;
  }
  .fill-form-btn {
    max-width: 75%;
  }
  .section-content-addresses-calls {
    padding: 2rem 5rem;
  }
  .contact-address {
    font-size: 1.6rem;
  }
  .phone-link {
    font-size: 1.6rem;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .header-title {
    font-size: 4rem;
  }
  .header-paragraph {
    max-width: 500px;
    font-size: 2.2rem;
    text-align: center;
  }
  .photo-gallery-titles {
    text-align: center;
  }
  .photo-gallery-paragraph {
    padding: 0 2rem;
    font-size: 1.8rem;
  }
  .photo-gallery-titles h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
  }
  .photo-gallery-titles h5 {
    font-size: 2rem;
  }
  .testimonials {
    padding: 5rem 0;
  }
  .testimonials-container {
    padding-bottom: 2rem;
    margin-top: 3rem;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .testimonial-quote {
    font-size: 3rem;
  }
  .testimonial-picture-inner {
    width: 5rem;
  }
  .testimonials-action-buttons {
    flex-direction: row;
  }
  .show-more-reviews-button {
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    width: 70%;
    flex: 1;
  }
  .write-review-button {
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    width: 70%;
    flex: 1;
  }
  .testimonials-action-buttons {
    display: flex;
    align-items: center;
  }
  .call-to-action {
    padding: 6rem 0;
    gap: 1.2rem;
  }
  .call-to-action-title {
    text-align: center;
    font-size: 3.4rem;
  }
  .call-to-action-paragraph {
    text-align: center;
    font-size: 2.2rem;
  }
  .contact-us-section {
    padding: 10rem 0;
  }
  .contact-us-text {
    font-size: 2.4rem;
    text-align: left !important;
  }
  .section-content {
    padding: 1rem 0;
    gap: 3rem;
  }
  .fill-form-btn {
    max-width: 100%;
  }
  .section-content-addresses-calls {
    padding: 2rem 5rem;
    width: 100%;
  }
  .contact-address {
    font-size: 1.6rem;
  }
  .phone-link {
    font-size: 1.6rem;
  }
  .footer-write-review-button {
    font-size: 1.2rem;
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header-title {
    font-size: 4.4rem;
  }
  .header-paragraph {
    max-width: 600px;
    font-size: 2.4rem;
    text-align: center;
  }
  .photo-gallery-titles {
    text-align: center;
  }
  .photo-gallery-paragraph {
    padding: 0 2rem;
    font-size: 2rem;
  }
  .photo-gallery-titles h2 {
    font-size: 2.8rem;
    text-transform: uppercase;
  }
  .photo-gallery-titles h5 {
    font-size: 1.6rem;
  }
  .testimonials {
    padding: 5rem 0;
  }
  .testimonials-container {
    padding: 3rem 0 4.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .testimonial-quote {
    font-size: 3.2rem;
  }
  .testimonial-picture-inner {
    width: 5rem;
  }
  .show-more-reviews-button {
    font-size: 1.8rem;
    padding: 0.5rem 1.5rem;
    width: 70%;
    flex: 1;
  }
  .write-review-button {
    font-size: 1.8rem;
    padding: 0.5rem 1.5rem;
    width: 70%;
    flex: 1;
  }
  .testimonials-action-buttons {
    display: flex;
    align-items: center;
  }
  .contact-us-section {
    padding: 12rem 0;
  }
  .contact-us-text {
    font-size: 2.4rem;
    text-align: left !important;
  }
  .section-content {
    padding: 1rem 0;
    gap: 3rem;
  }
  .fill-form-btn {
    max-width: 100%;
  }
  .section-content-addresses-calls {
    padding: 2rem 5rem;
    width: 100%;
  }
  .contact-address {
    font-size: 1.6rem;
  }
  .phone-link {
    font-size: 1.6rem;
  }
  .footer-write-review-button {
    font-size: 1.2rem;
    width: 100%;
  }
}
@media (min-width: 1201px) and (max-width: 1280px) {
  .header-title {
    font-size: 4.8rem;
  }
  .header-paragraph {
    max-width: 700px;
    font-size: 2.6rem;
    text-align: center;
  }
  .photo-gallery-titles {
    text-align: center;
  }
  .photo-gallery-paragraph {
    padding: 0 2rem;
    font-size: 2.2rem;
  }
  .photo-gallery-titles h2 {
    font-size: 3rem;
    text-transform: uppercase;
  }
  .photo-gallery-titles h5 {
    font-size: 1.8rem;
  }
  .testimonials {
    padding: 5rem 0;
  }
  .testimonials-container {
    padding: 3rem 0 4.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .testimonial-quote {
    font-size: 3.6rem;
  }
  .testimonial-picture-inner {
    width: 5rem;
  }
  .show-more-reviews-button {
    font-size: 2.2rem;
    padding: 0.5rem 1.5rem;
    width: 70%;
    flex: 1;
  }
  .write-review-button {
    font-size: 2rem;
    padding: 0.5rem 1.5rem;
    width: 70%;
    flex: 1;
  }
  .testimonials-action-buttons {
    display: flex;
    align-items: center;
  }
  .contact-us-section {
    padding: 12rem 0;
  }
  .contact-us-text {
    font-size: 2.4rem;
    text-align: left !important;
  }
  .section-content {
    padding: 1rem 0;
    gap: 3rem;
  }
  .fill-form-btn {
    max-width: 100%;
  }
  .section-content-addresses-calls {
    padding: 2rem 5rem;
    width: 100%;
  }
  .contact-address {
    font-size: 1.6rem;
  }
  .phone-link {
    font-size: 1.6rem;
  }
  .footer-write-review-button {
    font-size: 1.2rem;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .phone-link:hover {
    color: var(--clr-orange);
    transition: all 0.3s ease;
  }
  .contact-address:hover {
    color: var(--clr-orange);
  }
}
@media (min-width: 1201px) {
  .header-paragraph {
    font-size: 2rem;
    text-align: center;
  }
  .show-more-reviews-button {
    flex: 1;
  }
  .write-review-button {
    flex: 1;
  }
  .contact-us-section {
    padding: 12rem 0;
  }
  .contact-us-text {
    font-size: 2.4rem;
    text-align: left !important;
  }
  .section-content {
    padding: 1rem 0;
  }
  .fill-form-btn {
    max-width: 100%;
  }
  .section-content-addresses-calls {
    padding: 2rem 5rem;
  }
  .contact-address {
    font-size: 1.6rem;
  }
  .phone-link {
    font-size: 1.6rem;
  }
}
@media (max-width: 992px) {
  .xl-text {
    font-size: 50px;
  }
  .video-points {
    padding: 0 !important;
    text-align: center;
  }
  .video-points .col-lg-4 {
    margin-bottom: 20px;
  }
}
@media (max-width: 992px) {
  .navbar-ediontrans {
    padding: 1.2rem;
  }
}
@media (min-width: 992px) {
  .navbar-ediontrans {
    height: 80.75px;
  }
}
